<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome </title>
</head>
<body>
    <!-- <h2>Congratulations you Sucessfully send data!.  Your Password Is {{dat}}</h2> -->
    <h2>Congratulations you Sucessfully send data!.  Your Password Is {{dat.firstname}} and {{dat.password}}</h2>
    <br>
    <h3>
    Do You Want to Send Another data 
    </h3>
    <a href="/"> Click Here</a>
    
    <!-- <table>
        {% for key,value in dat.items()  %}
            
       
        <tr>
            <th>{{key}}</th>
            <td>{{value}}</td>
            

        </tr>
        {% endfor %} 
    </table> -->

</body>
</html>